<div class="tm-blue-bg tm-left-column">                        
    <div class="tm-logo-div text-xs-center">
        <img src="/static/img/tm-neaty-logo.png" alt="Logo" style="height: 200px; width: 200px;">
        <h1 class="tm-site-name">Jarvis University</h1>
    </div>
    <nav class="tm-main-nav">
        <ul class="tm-main-nav-ul">
            <li class="tm-nav-item">
                <a href="/" class="tm-nav-item-link"  >Home</a>
            </li>

            <li class="tm-nav-item">
                <a href="/register" class="tm-nav-item-link">Register</a>
            </li>

            <li class="tm-nav-item">
                <a href="/login" class="tm-nav-item-link">Login</a>
            </li>
        </ul>
    </nav>                                         
</div>