<div class="tm-blue-bg tm-left-column">                        
    <div class="tm-logo-div text-xs-center">
        <img src="/static/img/tm-neaty-logo.png" alt="Logo" style="height: 200px; width: 200px;">
        <h1 class="tm-site-name">Jarvis University</h1>
    </div>
    <nav class="tm-main-nav">
        <ul class="tm-main-nav-ul">
            <li class="tm-nav-item">
                <a href="/user/home" class="tm-nav-item-link">Home</a>
            </li>

            <li class="tm-nav-item">
                <a href="/user/viewque" class="tm-nav-item-link">Students Questions</a>
            </li>

            <li class="tm-nav-item">
                <a href="/user/profile" class="tm-nav-item-link">Profile</a>
            </li>

            <li class="tm-nav-item">
                <a href="/user/logout" class="tm-nav-item-link">Logout</a>
            </li>
        </ul>
    </nav>                                         
</div>